.infobox {
  text-align: center;
  font-family: "Roboto";
}
.infobox h3.lead {
  margin-top: 0.1em;
  margin-bottom: 0.0em;
  font-size: 0.75em;
  font-weight: 400;
}
.infobox p {
  margin-bottom: 0.1em;
}
.infobox p.main {
  font-size: 1em;
  font-weight: 400;
}
.infobox p.context {
  font-size: 0.55em;
  font-weight: 900;
}
